<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hero and Villains</title>
<link rel="stylesheet" href="/css/app.css" />
</head>
<body>
	<h2>Hero and Villains Game!</h2>

	<div id="masthead"></div>

	<br>
	<br>
	<h3>Meet Our Hero!</h3>
	<br> Name: {{ hero.getName }}
	<br> Secret Identity: {{ hero.getSecretIdentity }}
	<br> Health: {{ hero.getHealth }}
	<br>
	<p id="dead">{{^hero.isAlive}} {{ hero.getSecretIdentity }} is Dead {{/hero.isAlive}}</p>
	<br>

	<h3>Meet Our Monster!</h3>
	<br> Name: {{ monster.getName }}
	<br> Classification: {{ monster.getClassification }}
	<br> Health: {{ monster.getHealth }}
	<br>
	<p id="dead">{{^monster.isAlive}} Your Monster {{ monster.getName }} is Dead
		{{/monster.isAlive}}
	<p>
		<br>
	{{^isGameOver}}
	<form method="post" action="/attack">
		<input type="hidden">
		<button id="button">Fight!</button>
	</form>
	<br>
	<br>
	<form method="post" action="/death">
		<input type="hidden">
		<button id="button">Fight to the Death!</button>
	</form>
	{{/isGameOver}}
	<br>
	<br>
	<form method="post" action="/reset">
		<input type="hidden">
		<button id="button">Reset Game</button>
	</form>

</body>
</html>